.history-header{
    margin: 0 15%;
    margin-bottom: 0.1em;
    display: flex;
    font-size: 2em;
}
.history-component{
    margin: 0 3px;
    padding: 0.4em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(217, 217, 217);
    font-weight:bold;
}
.history-detail{
    color: rgb(72, 186, 251);
}
.history-title{
    margin-bottom: 0.5em;
}
.history-content{
    font-size: 1.5em;
}