.container{
  width: 80%;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover{
  width: 256px;
  height: 256px;
}
.login-form {
  margin-left: 10em;
  width: 20em;
  padding: 2em;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.8em;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
}

.login-form input[type="submit"] {
  width: 70%;
  margin: 0 15%;
  margin-top: 1em;
  background-color: rgb(56, 182, 255);
  color: black;
  font-weight: bolder;
  cursor: pointer;
}